/* keyframes wiggle */
@keyframes wiggle
{
    25% 
    {
        transform: translateX($shake-intensity);
    }
    75% 
    {
        transform: translateX($shake-intensity * -1);
    }
}

/* keyframes dots */
@keyframes dots 
{
    0%
    {
        opacity: 0;
    }

    50%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}