/* fonts */
$main_font: 'Montserrat', sans-serif;
$first_font: 'Devonshire', cursive;
$second_font: 'Kalam', cursive;
$third_font: 'Source Serif Pro', serif;
$fourth_font: 'Kurale', serif;
$fifth_font: "Dancing Script", cursive;
$sixth_font: 'Kaushan Script', cursive;

/* colors */
/* backgrounds colors */
$primary_color: #579c87;
$secondary_color: #ffffff;
$third_color: #fcdfdb;
$fouth_color: #fff5fe;
$fifth_color: #f9f9f9;
$sixt_color: #fdfffd;

/* fonts colors */
$logo_color: #fdcb46;
$first_menu: #3c1218;
$second_menu: #c77412;
$second_menu2: #a56799;
$second_menu3: #6e4ccc;
$third_menu: #2b91f8;
$fourth_menu: #72bf56;
$third_fouth_page: #000000;

/* degraded colors */
$second_menu_degraded: #905bfd;
$third_menu_degraded1: #0431df;
$third_menu_degraded2: #518cf0;
$third_menu_degraded3: #0887fb;
$fourth_menu_degraded1: #3d9339;
$fourth_menu_degraded2: #bfff7e;

/* icon colors */
$first_note_color: #f04a5e;
$second_note_color: #f78f6a;

/* dots shadow animation */
$dots_shadow: rgba(0,0,0,0);

/* box shadow */
$box_shadow: 0 0 20px #bbba;

/* animation wiggle */
$shake-intensity: 5%;

/* animation border */
$transition: background-size .5s;

/* padding pages */
$padding_pages: 30px 100px 30px 100px;

/* margin lines menu */
$line_margin_left: auto auto auto 0px;
$line_margin_right : auto 0px auto auto;